---
import Calendar from "@/components/community-hub/calendar.astro";
import Faq from "@/components/developer-hub/faq";
import ProgramHero from "@/components/programs/hero-section.astro";
import PointsGrid from "@/components/programs/points-grid.astro";
import TeamGrid from "@/components/programs/team-grid.astro";
import TwoColumnSection from "@/components/programs/two-column-section.astro";
import Button from "@/components/ui/button.astro";
import CardLink from "@/components/ui/links/card-link.astro";
import Seperator from "@/components/ui/seperator.astro";
import { faqs, heroPoints, members } from "@/data/homepage/adpc";
import MainLayout from "../../layouts/MainLayout.astro";

const title = "Arbitrum DAO Procurement Committee";
const description =
  "The ADPC is a governance entity proposed to manage the Arbitrum ecosystem's procurement needs. It would handle vendor selection, ensure fair pricing, uphold procurement standards, and oversee the allocation of resources. The committee’s role emphasizes transparency, competitive pricing, and effective vendor management to streamline procurement processes.";
---

<MainLayout smooth title={title} description={description}>
  <ProgramHero
    title={title}
    description={description}
    image={{
      src: "/adpc/hero.svg",
      alt: "Arbitrum Research and Development Collective",
    }}
    buttons={[
      {
        href: "https://forum.arbitrum.foundation/t/arbitrum-dao-procurement-committee-phase-ii-proposal/26441",
        text: "Arbitrum Forum",
      },
      {
        href: "https://snapshot.org/#/arbitrumfoundation.eth/proposal/0x66812a5c91fe5f590965148c76f1ca609fdc5ded722544673c275a3b2ed94549",
        text: "Snapshot",
      },
      {
        href: "https://www.tally.xyz/gov/arbitrum/proposal/93496910583545921039254255671954964968329693484106479494661805749408858477569?govId=eip155:42161:0x789fC99093B09aD01C34DC7251D0C89ce743e5a4",
        text: "Tally",
      },
    ]}
  />

  <PointsGrid points={heroPoints} />

  <Seperator />

  <TwoColumnSection
    title="ADPC Phase 2"
    description="Phase 2 of the ArbitrumDAO Procurement Committee (ADPC) expands its scope to manage key procurement verticals, oversee subsidy funds, and introduce an Operational Expense (OpEx) budget. This phase is centered on efficiency, transparency, and aligning with the DAO's long-term strategic goals."
    paragraph="Phase 2 establishes a structured approach to procurement, ensuring alignment with strategic objectives while fostering community-driven governance and financial transparency. By defining a long-term vision for the ADPC, this phase strengthens the foundation for sustainable operations and effective resource management across the Arbitrum ecosystem."
    titleHighlight="Comprehensive | Procurement Strategies"
    type="Active"
    image={{
      src: "/adpc/enhanced.svg",
      alt: "Enhanced Resource Allocation",
    }}
    paraButton={{
      text: "Public Dashboard",
      href: "https://adpc.notion.site/ADPC-Public-Dashboard-a1d953a54c7949c38d9882792f90a7a0",
    }}
    bgGradient
  />
  <Seperator />

  <Calendar />

  <Seperator />
  <TeamGrid members={members} columns={3} mobileColumns={1} />
  <Seperator />
  <TwoColumnSection
    title="ADPC Phase 1"
    description="The ADPC Phase 1 was proposed to manage the Arbitrum ecosystem's procurement needs. It would handle vendor selection, ensure fair pricing, uphold procurement standards, and oversee the allocation of resources. The committee’s role emphasizes transparency, competitive pricing, and effective vendor management to streamline procurement processes."
    paragraph="The ADPC Phase 1 outlines the foundational setup for Arbitrum's procurement process. This phase includes committee formation, defining its mandate, and establishing governance guidelines to manage vendor relationships, ensuring transparent and efficient procurement for the ecosystem."
    titleHighlight="Transparent and Efficient Procurement for the|Ecosystem"
    image={{
      src: "/adpc/ecosystem.svg",
      alt: "Ecosystem",
    }}
    button={{
      text: "Learn More",
      href: "https://www.tally.xyz/gov/arbitrum/proposal/43616303506326656287362617487331059827021737444126158637397168372555259240241",
    }}
    bgGradient
    type="Completed"
  />

  <Seperator />
  <CardLink
    className="md:max-w-[40%] "
    title="ADPC Outcome Report for Phase I"
    description="The report outlines decentralized procurement achievements, including a security framework and $2.5M fund. Future plans emphasize legal compliance, streamlined processes, and enhanced collaboration for RPC, events, and security."
    link="https://forum.arbitrum.foundation/t/adpc-outcome-report-for-phase-i/26433"
  >
    <div class="flex items-start" slot="button">
      <Button
        href={"https://docsend.com/view/b25g3iu6feppm7as"}
        arrow
        variant="secondary"
      >
        Download Full Outcome Report
      </Button>
    </div>
  </CardLink>

  <Seperator />

  <Faq client:load questions={faqs} />
</MainLayout>
