---
import Calendar from "@/components/community-hub/calendar.astro";
import Faq from "@/components/developer-hub/faq";
import ProgramHero from "@/components/programs/hero-section.astro";
import PointsGrid from "@/components/programs/points-grid.astro";
import TeamGrid from "@/components/programs/team-grid.astro";
import TwoColumnSection from "@/components/programs/two-column-section.astro";
import CardLink from "@/components/ui/links/card-link.astro";
import Seperator from "@/components/ui/seperator.astro";
import { deliverables, faqs, heroPoints, members } from "@/data/homepage/ardc";
import { paragraphCva, titleCva } from "@/lib/cvas";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  smooth
  title="Arbitrum Research and Development Collective"
  description="The ARDC plays a crucial role in bolstering the growth and prosperity of the Arbitrum ecosystem by reviewing and enhancing governance proposals, conducting security code reviews, offering quantitative analysis for economic risk, and fostering engagement among delegates."
>
  <ProgramHero
    title="Arbitrum Research and Development Collective"
    description="The ARDC plays a crucial role in bolstering the growth and prosperity of the Arbitrum ecosystem by reviewing and enhancing governance proposals, conducting security code reviews, offering quantitative analysis for economic risk, and fostering engagement among delegates."
    image={{
      src: "/ardc/hero.svg",
      alt: "Arbitrum Research and Development Collective",
    }}
    buttons={[
      {
        href: "https://forum.arbitrum.foundation/t/non-constitutional-arbitrum-research-and-development-collective-term-2/26922",
        text: "Arbitrum Forum",
      },
      {
        href: "https://snapshot.org/#/arbitrumfoundation.eth/proposal/0xc9fc6b61c7e13a4645937937600397e496a3f4703a8f4d00e11c0f641d86ce9f",
        text: "Snapshot",
      },
      {
        href: "https://www.tally.xyz/gov/arbitrum/proposal/36792157050667056852025000136263368859227883753318633087194112219909798752014?govId=eip155:42161:0x789fC99093B09aD01C34DC7251D0C89ce743e5a4",
        text: "Tally",
      },
    ]}
  />

  <PointsGrid points={heroPoints} />

  <Seperator />

  <TwoColumnSection
    bgGradient
    title="Phase 2 of ARDC"
    type="Active"
    titleHighlight="Empowering | Informed Governance Decisions"
    description="Building on the success of Phase 1, Phase 2 of the Arbitrum Research and Development Collective (ARDC) continues its mission to strengthen the Arbitrum ecosystem. With an expanded focus on refining governance, advancing security measures, and deepening community engagement, Phase 2 aims to ensure the ecosystem remains secure and well-governed through rigorous research, analysis, and collaboration."
    paragraph="The ARDC supports the Arbitrum ecosystem by providing objective assessments, refining governance proposals, and ensuring secure, well-researched decision-making. With expert-led reviews and enhanced risk evaluation, they enable ArbitrumDAO participants to make better-informed choices, driving impactful progress and growth."
    image={{
      src: "/ardc/governance.svg",
      alt: "Governance",
    }}
  />

  <Seperator />
  <CardLink
    wholeCard
    className="md:max-w-[40%]"
    title="ARDC V2 Election Announcement: Election Applications Now Open!"
    description="The ARDC is welcoming new applicants to join the next phase of the Arbitrum Research & Development Collective. Help drive innovation, governance, and community advancement within the ArbitrumDAO. Applications are open from October 30th to November 18th, 2024."
    link="https://forum.arbitrum.foundation/t/election-application-thread-v2-arbitrum-research-development-collective/27267"
  />
  <Seperator />
  <Calendar />
  <Seperator />
  <TwoColumnSection
    bgGradient
    title="Phase 1 of ARDC"
    type="Completed"
    titleHighlight="Enhancing Governance | and Security"
    description="Phase 1 of the Arbitrum Research & Development Collective (ARDC) is dedicated to strengthening the Arbitrum ecosystem through rigorous research, analysis, and collaboration. ARDC focuses on providing impartial data-driven reports to support delegates in making informed decisions, improving proposals through feedback, and assisting proposers with refining their work. The collective also prioritizes enhanced security through comprehensive code audits and assists with quantitative analysis to evaluate economic risks and optimize proposal designs. In addition to proposal support, ARDC offers project management assistance, creates valuable tooling for security, and fosters community growth through engaging content. By strengthening governance, security, and collaboration, ARDC plays a crucial role in the continued success of the Arbitrum ecosystem."
    paragraph="The Arbitrum Research and Development Collective (ARDC) plays a pivotal role in the growth and resilience of the Arbitrum ecosystem. Phase 1 was dedicated to advancing governance, enhancing security, and fostering collaboration through rigorous research and analysis."
    image={{
      src: "/ardc/security.svg",
      alt: "Security",
    }}
    button={{
      text: "View Final Report",
      href: "https://forum.arbitrum.foundation/t/ardc-final-report/27050",
    }}
    secondaryButton={{
      text: "Tally",
      href: "https://www.tally.xyz/gov/arbitrum/proposal/56002054155248055908873103086558103132748843103210580613728556162036150296506?chart=bubble",
    }}
  />
  <Seperator />
  <TeamGrid members={members} columns={4} />
  <Seperator />
  <section class="flex flex-col gap-4 py-5 md:py-10">
    <h2
      class={titleCva({
        size: "md",
      })}
    >
      Deliverables
    </h2>
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
      {
        deliverables?.map((item, index) => (
          <a
            href={item.link}
            target="_blank"
            class="flex flex-col  gap-3 rounded-xl border bg-[#F7F6FA] p-3 md:gap-4 md:p-5 "
          >
            <h3
              class={titleCva({
                size: "sm",
              })}
            >
              {item.title}
            </h3>
            <p class={paragraphCva()}>
              {item.description}
              <br />
              <span class="mt-2 font-sans font-medium text-gray-500">
                {item.date}
              </span>
            </p>
          </a>
        ))
      }
    </div>
    <div class="flex items-end justify-end">
      <a
        href="https://forum.arbitrum.foundation/t/ardc-final-report/27050"
        target="_blank"
        class="text-primary hover:underline"
      >
        View More
      </a>
    </div>
  </section>
  <Seperator />
  <Faq client:load questions={faqs} />
</MainLayout>
