---
import Faq from "@/components/developer-hub/faq";
import Community from "@/components/programs/community.astro";
import ProgramHero from "@/components/programs/hero-section.astro";
import PointsGrid from "@/components/programs/points-grid.astro";
import TeamGrid from "@/components/programs/team-grid.astro";
import TwoColumnSection from "@/components/programs/two-column-section.astro";
import Button from "@/components/ui/button.astro";
import CardLink from "@/components/ui/links/card-link.astro";
import Seperator from "@/components/ui/seperator.astro";
import { faqs, heroPoints, members } from "@/data/homepage/avi";
import { paragraphCva, titleCva } from "@/lib/cvas";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  smooth
  title={"Arbitrum Ventures Initiatives"}
  description={"AVI is Arbitrum’s dedicated venture program, designed to foster growth and innovation across the Arbitrum ecosystem. It strategically invests in projects that support decentralized finance (DeFi), blockchain infrastructure, gaming, and Web3 applications. By empowering transformative ideas, AVI aims to create new opportunities and partnerships that enrich the Arbitrum network and advance the future of decentralized technology."}
>
  <ProgramHero
    title="Arbitrum Ventures Initiatives"
    description="AVI is Arbitrum's dedicated venture program, designed to foster growth and innovation across the Arbitrum ecosystem. It strategically invests in projects that support decentralized finance (DeFi), blockchain infrastructure, gaming, and Web3 applications. By empowering transformative ideas, AVI aims to create new opportunities and partnerships that enrich the Arbitrum network and advance the future of decentralized technology."
    image={{
      src: "/avi/hero.svg",
      alt: "Arbitrum Ventures Initiatives",
    }}
    buttons={[
      {
        href: "https://t.me/+FJzfbb3POtIzMjc0",
        text: "Arbitrum Forum",
      },
      {
        href: "https://snapshot.org/#/arbitrumfoundation.eth/proposal/0x09d16f8726f1f9a85bd6975587947a2cd7ce6bd438750d52866ae36207ac7ded",
        text: "Snapshot",
      },
      {
        href: "https://www.tally.xyz/gov/arbitrum/proposal/16862129143470948068395175122563617380780349421262247459634070073165514405758",
        text: "Tally",
      },
    ]}
  />

  <PointsGrid points={heroPoints} />

  <Seperator />

  <TwoColumnSection
    bgGradient
    title="Pilot Phase"
    type="Active"
    date="May 21 2024- Jul 27 2024"
    titleHighlight="Community Approval to | Allocate Funds"
    description="The pilot phase of the Arbitrum Ventures Initiative (AVI) is a preliminary testing period aimed at exploring and refining its investment strategy. This phase focuses on assessing the effectiveness of AVI’s approach to supporting innovative projects that drive growth within the Arbitrum ecosystem."
    paragraph=`The Arbitrum Ventures Initiative (AVI) is dedicated to supporting
          ecosystem growth by investing in projects that enhance the Arbitrum
          platform, foster partnerships, and drive long-term success.
          Following the approval of AVI’s pilot phase, community members can
          contribute to this program by staying informed and engaged.`
    image={{
      src: "/avi/funds.svg",
      alt: "Funds allocation",
    }}
    button={{
      text: "Learn More",
      href: "https://forum.arbitrum.foundation/t/arbitrum-ventures-initiative-hub/26008",
    }}
    paraButton={{
      text: "Telegram",
      href: "https://t.me/+FJzfbb3POtIzMjc0",
    }}
  />
  <Seperator />
  <section
    class="flex flex-col gap-6 rounded-small bg-primary-light px-5 py-8 md:px-14 md:py-10"
  >
    <h2
      class={titleCva({
        size: "xl",
      })}
    >
      Upcoming Key Deliverables for AVI Pilot Phase
    </h2>
    <div class="flex flex-col gap-4">
      <p class={paragraphCva()}>
        AVI Pilot Phase Deliverables are in progress.
      </p>
      <p class={paragraphCva()}>View the Upcoming Key Deliverables.</p>
      <Button
        href="https://forum.arbitrum.foundation/t/non-constitutional-pilot-phase-arbitrum-venture-initiative/24247"
        variant="secondary"
        arrow>View Deliverables</Button
      >
    </div>
  </section>

  <Seperator />
  <CardLink
    className="md:max-w-[40%] "
    title="Monthly Updates"
    description="Stay tuned for the latest on AVI’s progress and developments! Their monthly updates cover key insights, partnership highlights, and the latest projects contributing to the Arbitrum ecosystem's growth."
    link="https://forum.arbitrum.foundation/t/arbitrum-ventures-initiative-hub/26008"
  />
  <Seperator />

  <TeamGrid members={members} columns={4} mobileColumns={1} />

  <Seperator />
  <Community
    title="Get Involved with Arbitrum Venture Initiative"
    description="Arbitrum Ventures invites DAO members, contributors, and delegates to actively participate and help shape its future"
    cards={[
      {
        icon: "message",
        title: "Join the Conversation",
        description:
          "Share your feedback and ideas directly on the Arbitrum Venture Forum Thread.",
        link: {
          text: "Visit Forum Thread",
          href: "https://forum.arbitrum.foundation/t/arbitrum-ventures-initiative-hub/26008",
        },
      },
      {
        icon: "telegram",
        title: "Collaborate Directly",
        description:
          "Reach out to AVI via direct message or participate in ongoing discussions to contribute to discovery, interviews and insightful conversations.",
        link: {
          text: "Connect with AVI",
          href: "https://t.me/+FJzfbb3POtIzMjc0",
        },
      },
      {
        icon: "at",
        title: "Join the Community",
        description:
          "Stay informed and network with other contributors by joining their telegram group.",
        link: {
          text: "Join Telegram Group",
          href: "https://t.me/+FJzfbb3POtIzMjc0",
        },
      },
    ]}
  />
  <Seperator />

  <Faq client:load questions={faqs} />
</MainLayout>
